@charset "utf-8";
/* CSS Document */
html {
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(255,255,255,0.01) 0 0 1px;
  -webkit-text-stroke: rgba(255,255,255,0.01) 0.1px;
  
  -moz-text-size-adjust: 100%;
  -moz-font-smoothing: antialiased;
  -moz-text-shadow: rgba(255,255,255,0.01) 0 0 1px;
  -moz-text-stroke: rgba(255,255,255,0.01) 0.1px;
  
  text-size-adjust: 100%;
  font-smoothing: antialiased;
  text-shadow: rgba(255,255,255,0.01) 0 0 1px;
  text-stroke: rgba(255,255,255,0.01) 0.1px;
}


/*****************************************************************************
***************************Global css start **********************************
******************************************************************************/

ul, ol{margin:0; padding:0; list-style:none;}
h1,h2,h3,h4,h5,h6,p{margin:0;}
a:hover{ text-decoration:none;}
a:focus{ outline:none !important; text-decoration:none;}
.btn:focus{ outline:none !important;}
a{ -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out;}
@font-face {
    font-family: 'GearedSlab';
    src: url('../fonts/GearedSlab.eot');
    src: url('../fonts/GearedSlab.eot') format('embedded-opentype'),
         url('../fonts/GearedSlab.woff2') format('woff2'),
         url('../fonts/GearedSlab.woff') format('woff'),
         url('../fonts/GearedSlab.ttf') format('truetype'),
         url('../fonts/GearedSlab.svg#GearedSlab') format('svg');
}
@font-face {
    font-family: 'GearedSlabBold';
    src: url('../fonts/GearedSlabBold.eot');
    src: url('../fonts/GearedSlabBold.eot') format('embedded-opentype'),
         url('../fonts/GearedSlabBold.woff2') format('woff2'),
         url('../fonts/GearedSlabBold.woff') format('woff'),
         url('../fonts/GearedSlabBold.ttf') format('truetype'),
         url('../fonts/GearedSlabBold.svg#GearedSlabBold') format('svg');
}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
     font-family: 'GearedSlab';
}

/*****************************************************************************
***************************Global css end ************************************
******************************************************************************/



/*****************************************************************************
***************************css for header sec start***************************
******************************************************************************/
.top_header {
  background: rgba(0, 0, 0, 0) url("../images/bg_header.png") repeat-x scroll 0 0;
  display: inline-block;
  height: 104px;
  vertical-align: middle;
  width: 100%;
  position: relative;
  text-align: center;
}
.top_social a {
  background: rgb(250, 153, 0) none repeat scroll 0 0;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 7px 15px;
  display: inline-block;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}
.account_login > a {
  color: rgb(51, 51, 51);
  display: inline-block;
  float: right;
  font-family: "GearedSlabBold";
  font-size: 16px;
  padding: 10px 0;
  text-align: right;
  text-decoration: underline;
  text-transform: uppercase;
}
.shop_cart > a {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2) inset;
  color: rgb(51, 51, 51);
  display: inline-block;
  font-size: 15px;
  padding: 10px 15px;
  text-transform: uppercase;
      font-family: 'GearedSlabBold';
}
.shop_cart a i {
  font-size: 20px;
}
.top_social {
padding-top: 24px;
}
.middle_header {
  background: url("../images/left_header.png") no-repeat scroll left center / 50% auto, rgba(0, 0, 0, 0) url("../images/right_header.png") no-repeat scroll right center / 50% auto;
  height: 28px;
}
.shop_cart a .fa.fa-sort-desc {
  color: rgb(102, 102, 102);
  font-size: 20px;
  padding-left: 2px;
  position: relative;
  top: -2px;
}
.main_nav {
  background: rgba(0, 0, 0, 0) url("../images/bottom_header.png") repeat-x scroll 0 0;
    margin-top: 1px;
    position: relative;

}
.main_nav nav {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;

}
.main_nav ul.nav.navbar-nav li.active > a {
  position: relative;
}
.main_nav ul.nav.navbar-nav li.active > a::after {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
  content: "";
  height: 10px;
  left: 41%;
  position: absolute;
  width: 20px;
}
.main_nav ul.nav.navbar-nav li a:hover::after
{ background: rgb(255, 255, 255) none repeat scroll 0 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
  content: "";
  height: 10px;
  left: 41%;
  position: absolute;
  width: 20px;
}
.main_nav ul.nav.navbar-nav li.active > a:hover {
  background-color: transparent;
}
.main_nav ul.nav.navbar-nav li a {
  background: rgba(0, 0, 0, 0) url("../images/nav_line.png") no-repeat scroll left center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 17px 42px;
  text-transform: uppercase;
  position: relative;
}
.main_nav ul.nav.navbar-nav li:last-child a {
  background: url("../images/nav_line.png") no-repeat scroll right center,url("../images/nav_line.png") no-repeat scroll left center;
}
.main_nav ul.nav.navbar-nav {
  padding-top: 30px;
}
.main_nav ul.nav.navbar-nav li a::after{content: "";
background: url("../images/nav_line.png");}
.logo {
  left: 36%;
  position: absolute;
  width: 385px;
}
/*
.logo::after {
  background: rgba(0, 0, 0, 0) url("../images/btm_after.png") no-repeat scroll 0 0;
  bottom: -24px;
  content: "";
  height: 24px;
  left: 0;
  position: absolute;
  width: 462px;
  z-index: 1;
}*/
.logo::after {
  background: rgba(0, 0, 0, 0) url("../images/btm_after.png") no-repeat scroll center center;
  bottom: -16px;
  content: "";
  height: 24px;
  left: -7px;
  position: absolute;
  width: 384px;
  z-index: 1;
}


.main_nav .navbar{margin-bottom: 0px;}
.banner_img img{width: 100%;}
.main_nav .navbar.navbar-inverse{background: url("../images/cap_img.png");}
.main_nav .navbar.navbar-inverse {
  background-image: url("../images/cap_img.png");
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.slick-initialized .slick-slide.slick-current::after {
  background: rgb(239, 146, 0) none repeat scroll 0 0;
  border: 6px solid rgb(255, 255, 255);
  border-radius: 50%;
  color: rgb(255, 0, 0);
  content: "";
  height: 60px;
  left: 33%;
  position: absolute;
  top: 50%;
  width: 60px;
}

/*****************************************************************************
***************************css for header sec end  ***************************
******************************************************************************/


/*****************************************************************************
***************************css for conten sec start***************************
******************************************************************************/
.main_container {
  background: rgba(0, 0, 0, 0) url("../images/bg_body.png") repeat scroll 0 0;
}
.top_deading {
  background: rgb(246, 150, 0) none repeat scroll 0 0;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  box-shadow: 2px 1px 10px rgba(0,0,0,0.5);
}
h1.head_line {
  font-size: 35px;
  line-height: 70px;
  text-transform: uppercase;
}
.head_line span a {
  background: rgb(244, 244, 244) none repeat scroll 0 0;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3) inset;
  color: rgb(0, 0, 0);
  font-size: 20px;
  letter-spacing: 0.02em;
  padding: 10px 40px;
}
.head_line > span {
  padding-left: 25px;
}
.work_bar {
  background: rgba(0, 0, 0, 0) url("../images/how_bg.png") repeat scroll 0 0;
  box-shadow: 1px 5px 8px rgba(229, 211, 177, 0.7);
  float: left;
  position: relative;
  width: 100%;
}
.work_bar::after{background: url("../images/left_arrow.png");}
.work_bar::before{background: url("../images/right_aro.png");}
.work_bar li {
  background: url("../images/work_line.png") repeat-y scroll right center;
  color: rgb(216, 46, 28);
  display: inline-block;
  float: left;
  font-size: 45px;
  height: 110px;
  line-height: 45px;
  padding: 10px 44px;
}
.work_bar li:last-child {
 background: none;
}
.work_bar ul li i {
  background: rgb(240, 240, 240) none repeat scroll 0 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  float: left;
  height: 95px;
  line-height: 83px;
  text-align: center;
  width: 95px;
}
.work_bar span {
  color: rgb(0, 0, 0);
  display: block;
}
.common.contain_sec {
  padding: 80px 0;
}
.work_bar::before {
  background: rgba(0, 0, 0, 0) url("../images/right_aro.png") no-repeat scroll 0 0;
  content: "";
  height: 52px;
  position: absolute;
  right: -17px;
  top: 25%;
  width: 20px;
}
.work_bar::after {
  background: rgba(0, 0, 0, 0) url("../images/left_arrow.png") repeat scroll 0 0;
  content: "";
  left: -17px;
  position: absolute;
    height: 52px;
  position: absolute;
  top: 25%;
  width: 20px;
}
.contain_bar span {
  color: rgb(216, 46, 28);
  display: block;
  font-size: 45px;
  padding-bottom: 10px;
}
.contain_bar li {
  border-right: 2px dashed rgb(170, 170, 170);
  color: rgb(51, 51, 51);
  display: inline-block;
  float: left;
  font-family: "latoregular";
  font-size: 14px;
  height: 178px;
  line-height: 24px;
  padding-left: 8px;
  width: 16%;
  word-spacing: 0.02px;
}
.contain_bar {
  display: inline-block;
  padding-top: 50px;
}
.notice > span {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  border: 2px solid rgb(246, 151, 0);
  box-shadow: 1px 9px 7px rgba(229, 211, 177, 0.9);
  display: inline-block;
  font-family: "latoregular";
  font-size: 14px;
  line-height: 24px;
  max-width: 267px;
  padding: 1px 5px;
  position: relative;
  width: 100%;
}

.notice > span::after, .notice > span::before {
  border: medium solid rgba(0, 0, 0, 0);
  bottom: 100%;
  content: " ";
  height: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.notice > span::after {
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgb(255, 255, 255);
  border-width: 9px;
  margin-left: -107px;
}
.notice > span:before {
	border-color: rgba(246, 151, 0, 0);
	border-bottom-color: #f69700;
	border-width: 13px;
	margin-left: -111px;
}
/*
.notice >  span:after{
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.notice >  span:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 13px;
	margin-left: -123px;
}
*/
.notice {
  padding-top: 20px;
  text-align: center;
}
.minimum {
  color: rgb(246, 151, 0);
  font-size: 18px;
  text-decoration: underline;
   font-family: 'latobold';
}
.video_img {
  display: inline-block;
}
.cnt_slider {
  background-image: url("../images/slider.jpg");
  background-size: cover;
  padding: 100px 0;
  width: 100%;
}
.slider_head {
  color: rgb(239, 146, 0);
  font-size: 45px;
  word-spacing: 0.02px;
}
.cnt_slider h4 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  word-spacing: 0.02px;
    font-family: "latoregular";
}
.btm_contain{
    background-image: url("../images/containt.jpg");
    background-size: cover;
     padding: 100px 0;
    width: 100%;
}

.blog_contain {
  background: rgba(255, 255, 255,0.9) none repeat scroll 0 0;
  border: 1px solid rgb(196, 196, 196);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
  padding: 80px 15px 60px;
  float: left;
}
.blog_contain ul li {
  background: rgba(0, 0, 0, 0) url("../images/li_line.png") no-repeat scroll right center;
  display: inline-block;
  padding: 0 40px;
  text-align: center;
  width: 33%;
  float: left;
}
.blog_contain ul li p {
  color: rgb(51, 51, 51);
  font-size: 14px;
    font-family: "latoregular";
  line-height: 22px;
  word-spacing: 0.02px;
}
.blog_contain img {
  padding: 20px 0;
}
.blog_contain ul li:last-child {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
span a.order {
  background: rgb(216, 46, 28) none repeat scroll 0 0;
  border: 2px solid rgb(164, 15, 0);
  color: rgb(255, 255, 255);
  font-size: 28px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1) inset;
  word-spacing: 0.02px;
}
.head_bar {
  background: rgba(0, 0, 0, 0) url("../images/line_yellow.png") no-repeat scroll center center;
  color: rgb(255, 255, 255);
  font-size: 42px;
  height: 83px;
  position: relative;
  text-align: center;
  top: 45px;
  z-index: 12;
}

.ftr_box.second h3 {
  font-size: 25px;
  padding-bottom: 15px;
}
.contain_bar li:last-child {
  border: 0 none;
}
.slider_btm .slide_img {
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.slider_cap {
  display: none;
}
.lslide.active .slider_cap {
  display: block;
}
.common.slide_sec {
  margin-top: -5px;
}
.lslide.active .slider_cap {
  display: block;
  padding: 20px 180px;
  text-align: center;
  width: 1170px;
}
.slider_cap > p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  word-spacing: 0.02px;
     font-family: "latoregular";
}
.slider_cap > h3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding: 10px 0;
}
.slider_btm {
  padding: 60px 0;
}
.lSSlideOuter .lSPager.lSpg > li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid rgb(255, 255, 255);
  height: 20px;
  width: 20px;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: rgb(239, 146, 0);
}
.modal_contain {
  text-align: center;
}
.modal_contain h1 {
  color: rgb(216, 46, 28);
  font-size: 45px;
  text-transform: uppercase;
}
.modal_contain span {
  color: rgb(51, 51, 51);
  display: block;
}
.modal_contain .form-control {
  border-radius: 0;
  height: 53px;
}
.modal_contain label {
  color: rgb(102, 102, 102);
  float: left;
  font-size: 16px;
  font-weight: normal;
  font-family: "latoregular";
}
.btn.btn-default.mdl {
  background: rgb(252, 154, 0) none repeat scroll 0 0;
  border: 2px solid rgb(251, 154, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 8px 30px;
  text-transform: uppercase;
  word-spacing: 0.26px;
}
.modal_contain > form {
  text-align: left;
}
 .close {
  color: rgb(0, 0, 0);
  font-size: 41px;
  font-weight: normal;
  opacity: 1;
}
.modal-header {
  border-bottom: 0 none;
}
.blog_sec .top_deading {
  padding: 10px 0;
}
.slick-prev.slick-arrow,.slick-next.slick-arrow {
  display: none !important;
}
/**********how it works start****************/
.main_container.how_it {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
}
.common.howit_contain {
  padding: 100px 0;
}
.main_head {
  color: rgb(216, 46, 28);
  font-size: 45px;
  text-align: center;
  word-spacing: 0.2px;
  text-transform: uppercase;
}
.main_head span{
    color: #000;
    }
    .main_pera {
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  width: 900px;
  word-spacing: 0.06px;
    font-family: "latoregular";
}
.howit_main {
  border: 1px solid rgb(232, 232, 232);
  float: left;
  margin: 15px 0px;
  padding: 30px 50px;
  width: 735px;
}
.how_left {
  float: left;
  text-align: center;
  width: 38%;
}
.how_right {
  float: right;
  text-align: center;
  width: 44%;
   min-height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;

}
.img_rectgle {
  border: 6px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(0, 0, 0);
  display: inline-block;
  height: 220px;
  overflow: hidden;
  width: 220px;
  position: relative;
}
.how_right > h2 {
  color: rgb(216, 46, 28);
  word-spacing: 0.02px;
}
.how_right > p {
  color: rgb(51, 51, 51);
  font-family: "latoregular";
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  word-spacing: 0.02em;
}
.how_left.step_odd {
  float: right;
}
.how_right.step_odd {
  float: left;
}
.img_rectgle img {
  -moz-transition: all 1s ease ;
 -webkit-transition: all 0s ease;
-o-transition: all 1s ease ;
transition: all 1s ease ;
}
.img_rectgle:hover img {
    -moz-transform: scale(1.1);
 -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
   transform: scale(1.1);
}
/**********how it works close****************/
/**************************************menu start**************************************************/
.main_head.menu_head {
  text-align: left;
  text-transform: uppercase;
}
span.menu_right {
  color: rgb(102, 102, 102);
  float: right;
  font-size: 20px;
}
a.view_menu {
  background: rgb(252, 154, 0) none repeat scroll 0 0;
  border: 2px solid rgb(252, 154, 0);
  border-radius: 3px;
  box-shadow: 1px -17px 32px rgba(225, 225, 225, 0.2) inset;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 16px;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
}
.gallery_img::after {
  background: rgba(0, 0, 0, 0) url("../images/img_btm.png") repeat-x scroll 0 0;
  bottom: -4px;
  content: "";
  height: 10px;
  position: absolute;
  width: 100%;
}
.gallery_img{
    position: relative;
    overflow: hidden;
}
.gallery_img img{
     
	 -moz-transition: all 1s ease ;
 	-webkit-transition: all 0s ease;
	-o-transition: all 1s ease ;
	transition: all 1s ease ;
}
.gallery_box {
  border: 1px solid rgb(227, 227, 227);
  border-radius: 5px;
  margin: 10px 0;
  min-height: 252px;
}
.gallery_cap {
  color: rgb(102, 102, 102);
  font-size: 20px;
  line-height: 22px;
  padding: 15px 20px;
  text-align: center;
}
.gallery_img:hover img {
  
 -moz-transform: scale(1.1);
 -webkit-transform: scale(1.1);
 -o-transform: scale(1.1);
transform: scale(1.1);

}
.main_head.slide {
  font-size: 30px;
  padding: 50px 0;
  text-align: left;
  text-transform: uppercase;
}
.view_menu1 {
  border: 1px solid rgb(197, 197, 197);
  border-radius: 3px;
  box-shadow: 0 -4px 7px rgba(0, 0, 0, 0.2) inset;
  color: rgb(153, 153, 153);
  font-size: 14px;
  padding: 6px 15px;
  font-family: "latoregular";
}
#menu_slider .owl-buttons {
  left: 0;
  position: absolute;
  top: 26%;
  width: 100%;
}
#menu_slider .owl-prev {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0;
  color: rgb(178, 178, 178);
  font-size: 25px;
  opacity: 1;
  position: absolute;
  right: 100%;
}
#menu_slider .owl-next {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0;
  color: rgb(178, 178, 178);
  font-size: 25px;
  opacity: 1;
  position: absolute;
  left: 100%;
}
/*order*/
.order_bar {
  background: rgb(247, 247, 247) none repeat scroll 0 0;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 2px;
  display: inline-block;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.order_bar ul {
  margin: 0 auto;
  position: relative;
  width: 670px;
}
.order_bar ul::after {
  background-image: url("../images/order_barbg.png");
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) inset;
  content: "";
  height: 7px;
  left: 10%;
  position: absolute;
  top: 26px;
  width: 82%;
  z-index: 1;
}
.ordbar_detal {
  background-image: url("../images/order_barbg.png");
  border-radius: 50%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  display: inline-block;
  height: 60px;
  line-height: 62px;
  position: relative;
  text-align: center;
  width: 60px;
  z-index: 11;
}
.order_bar span {
  background: rgb(252, 154, 0) none repeat scroll 0 0;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  width: 30px;
}
.order_bar li {
  display: inline-block;
  float: left;
  margin-right: 36px;
  width: 140px;
}
.order_bar li:last-child{
    margin: 0px;
}
.order_bar a {
  color: rgb(102, 102, 102);
  display: block;
  font-size: 20px;
  padding-top: 10px;
  word-spacing: 0.02em;
}
.form-control.search_bar {
  border: 3px solid rgb(252, 154, 0);
  color: rgb(102, 102, 102);
  font-size: 14px;
  height: 50px;
  word-spacing: 0.02em;
   font-family: "latoregular";
}
.top_search {
  padding: 25px 0;
  position: relative;
}
.top_search span {
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  right: 21px;
  top: 37px;
}
.top_search span::before {
  border-left: 1px solid rgb(204, 204, 204);
  content: "";
  font-weight: normal;
  padding-right: 16px;
}
p.dec {
  font-size: 14px;
  line-height: 20px;
   font-family: "latoregular";
   color: #333333;
  word-spacing: 0.02em;
  padding-top: 10px;
}
.dec span{
     font-family: 'latobold';
    
}
.gallery_cap h3 {
    color: #d82e1c;
    word-spacing: 0.02em;
    line-height: 30px;
    min-height: 55px;
}
.order_menu .gallery_cap{
    text-align: left;
}
a.serv_btn {
    color: #666666;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 5px 10px;
    display: inline-block;
    font-size: 14px;
       font-family: "latoregular";
}
a.add_cart {
  background: #fb9a00 none repeat scroll 0 0;
  border: 2px solid #fb9a00;
  border-radius: 3px;
  box-shadow: -1px -17px 32px rgba(225, 225, 225, 0.2) inset;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  padding: 5px 15px;
  text-transform: uppercase;
  word-spacing: 0.02em;
}
.gallery_btn {
    padding: 10px 0px;
}
a.serv_btn i {
    font-size: 22px;
    color: #666666;
    position: relative;
    top: -2px;
    padding-left: 3px;
}
.gallery_box.order_menu {
    min-height: 470px;
}
.dec_mhgt {
    min-height: 90px;
}
.order_left {
    background: #ececec;
    border-radius: 3px;
    padding: 20px 15px;
    border: 1px solid #c5c5c5;
    border-bottom: 2px solid #fc9a00;
}
.calender {
    border: 1px solid #ccc;
}
.calendar-month-header span {
  color: #d82e1c;
  font-size: 30px;
  text-align: left;
}
.calender {
  border: 1px solid #ccc;
  margin: 32px 0;
}
.event_dots ul li {
  color: #666666;
  font-size: 14px;
  line-height: 20px;
  padding: 0px 0 15px 36px;
  position: relative;
     font-family: 'latoregular';
  text-align: left;
}
.event_dots ul li span {
  height: 25px;
  left: 0;
  position: absolute;
  width: 25px;
}
.event_color1 {
 background-color:#fe0000;
}
.event_color2 {
  background-color:#b6d6a5;
}
.event_color3 {
 background-color:#f3d26b;
}
.event_color4 {
 background-color:#9cc3ee;
}
.save_btn a {
  background: #ffa904 none repeat scroll 0 0;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  width: 340px;
  word-spacing: 0.02em;
   font-family: 'latoregular';
}
.event_dots {
  border: 1px solid #e3e3e3;
  padding: 15px 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.save_btn {
  padding-top: 40px;
}
.order_left h2 ,.orderdt_contain h2
{
  color: #d82e1c;
  line-height: 30px;
  word-spacing: 0.02em;
}
.order_left h2 span{
    color: #000;
}
.order_left p {
  color: #666666;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  word-spacing: 0.02em;
     font-family: 'latoregular';
}
.order_left p span{  font-family: 'latobold';}
/********order_detail********/
.cook_instruc li {
  color: #666666;
  display: block;
  font-size: 14px;
  line-height: 24px;
  word-spacing: 0.02em;
  font-family: 'latoregular';
}
.cook_instruc {
  padding: 15px 0;
}
.cook_instruc li::after {
  border-bottom: 6px solid transparent;
  border-left: 6px solid #d82e1c;
  border-top: 6px solid transparent;
  content: "";
  left: 0;
  position: absolute;
  top: 7px;
}
.cook_instruc li {
  color: #333333;
  display: block;
  font-family: "latoregular";
  font-size: 14px;
  line-height: 24px;
  padding-left: 15px;
  position: relative;
  word-spacing: 0.02em;
}
.cook_instruc span ul ,.cook_inform ul{
  color: #333333;
  display: block;
  padding: 10px 0;
  word-spacing: 0.02em;
   font-family: 'latobold';
}
.cook_inform li {
  border-bottom: 1px dashed #666666;
  color: #333333;
  display: block;
  font-size: 14px;
  line-height: 30px;
  word-spacing: 0.02em;
  width: 65%;
    font-family: "latoregular";
}
.cook_inform li span {
  float: right;
}
.count_box input {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  height: 36px;
  position: relative;
  text-align: center;
  top: -2px;
  width: 44px;
}
.count_box {
  display: inline-block;
  margin: 0 7px;
  position: relative;
  width: 66px;
}
.add_nm {
  background-color: #e3e3e3;
  line-height: 0;
  padding: 1px 3px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.remove_nm {
  background: #e3e3e3 none repeat scroll 0 0;
  bottom: 0;
  line-height: 0;
  padding: 1px 3px;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.orderdt_contain .gallery_btn a.add_cart{
    padding: 2px 15px;
}
/*catering*/
.menu_img {
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px;
  display: inline-block;
  height: 60px;
  left: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  top: 13px;
  width: 60px;
}
.catering_list li {
  border-bottom: 1px solid #e8e8e8;
  color: #333333;
  font-family: "latoregular";
  font-size: 14px;
  line-height: 85px;
  padding-left: 86px;
  position: relative;
  word-spacing: 0.02em;
}
.menu_name
{color:#333333; }
.menu_price {
  color: #333333;
  float: right;
  font-size: 20px;
font-family: "latoregular";
}
.catering_list {
  border: 1px solid #e8e8e8;
  padding: 30px;
  margin-bottom: 20px;
}
/*
#order_id ::after, .order_box ::before {
  border: medium solid #bcbcbc;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  width: 0;
}

#order_id ::after {
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #bcbcbc;
  border-width: 9px;
  margin-left: -137px;
}
#order_id :before {
	border-color: rgba(246, 151, 0, 0);
	border-bottom-color: #8c8c8c;
	border-width: 12px;
	margin-left: -140px;
}*/
.cumn_sub {
  color: rgb(216, 46, 28);
  word-spacing: 0.02px;
  text-transform: uppercase;
   font-family: 'GearedSlab';
}
.order_check {
  color: #333333;
  font-size: 22px;
  padding: 12px 0;
  word-spacing: 0.02em;
}
.gallery_btn .add_cart {
  line-height: 25px;
   font-family: 'GearedSlab';
}
.menu_type {
  color: #333333;
  float: right;
  font-size: 20px;
  text-transform: capitalize;
}
.catering_list h2.cumn_sub {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
}
/*radio*/
  .order_box {
  background-color: #bcbcbc;
  border: 1px solid #8c8c8c;
  line-height: 0;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}
.order_box::after {
  border-bottom: 13px solid #8c8c8c;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  content: "";
  left: 48px;
  position: absolute;
  top: -14px;
  z-index: 1;
}
.order_box::before {
    border-bottom: 12px solid #bcbcbc;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: "";
    left: 50px;
    position: absolute;
    top: -12px;
    z-index: 11;
}
.cumn_sub {
  color: rgb(216, 46, 28);
  word-spacing: 0.02px;
  text-transform: uppercase;
   font-family: 'GearedSlab';
}
.order_check ul li {
  border-bottom: 0 none;
  display: inline-block;
  line-height: inherit;
  padding: inherit;
  position: relative;
  font-size: 22px;
}
    
    .order_check ul li input[type=radio] {
        position: absolute;
        visibility: hidden;
    }
    .order_check {
  padding: 10px 0;
}
.order_check ul li label {
  cursor: pointer;
  display: block;
  font-size: 22px;
  font-weight: normal;
  padding: 27px 0 3px 26px;
  position: relative;
  z-index: 9;
}
.order_check select {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  font-size: 17px;
  height: 36px;
  width: 47px;
}
.order_check ul li .check {
  background: #fff none repeat scroll 0 0;
  border: 3px solid #838383;
  border-radius: 100%;
  display: block;
  height: 18px;
  left: 0;
  position: absolute;
  top: 20px;
  transition: border 0.25s linear 0s;
  width: 18px;
  z-index: 5;
}
    
.order_check ul li .check::before {
  border-radius: 100%;
  content: "";
  display: block;
  height: 8px;
  left: 2px;
  margin: auto;
  position: absolute;
  top: 2px;
  transition: background 0.25s linear 0s;
  width: 8px;
}
    
    .order_check input[type="radio"]:checked ~ .check::before {
        background: #f89801 none repeat scroll 0 0;
    }
    .catering_list .order_box h2.cumn_sub {
  border-bottom: 0 none;
  padding-bottom: 0;
}
/*review*/
.review_bnr {
  background-color: #ebebeb;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
}
.qt_icon {
  color: #fb9a00;
  font-size: 60px;
  position: relative;
  text-align: center;
}
.qt_icon::after,.qt_icon::before {
  background-color: #ebebeb;
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  top: 53%;
  width: 42%;
}
.qt_icon::before {
  right: inherit;
  left: 0;
}
.review_contin p {
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  word-spacing: 0.02em;
  font-family: "latoregular";
}
.review_contin h3 {
  color: #333333;
  font-size: 25px;
  word-spacing: 0.02em;
  padding: 16px 0;
  text-align: center;
}
.review_contin {
  padding: 10px 0;
}
.review_img {
  border: 2px solid #fff;
  display: inline-block;
  margin: 0 5px;
}
.reviw_pagination nav ul li a {
  border: 0 none;
  border-radius: 0;
  color: #999999;
  font-size: 25px;
  padding: 8px 10px;
}
.reviw_pagination {
  text-align: center;
}
.review_right ,.review_left{
  padding: 30px 0 10px;
}
.reviw_pagination nav ul li.active a{background: none;} 
.reviw_pagination nav ul li a:hover{
    color: #999999;
    background: none;
} 
/*contact*/
.contact_container {
  margin: 0 auto;
  max-width: 540px;
  width: 100%;
}
.contact_container label {
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  word-spacing: 0.02em;
    font-family: "latoregular";
}
.contact_container .form-control {
  border: 1px solid #dddddd;
  height: 50px;
}
.contact_container .main_pera {
  width: 100%;

}
.contact_container textarea.form-control{
    height: 190px;
} 
.contact_bar {
  background-image: url("../images/contact.png");
  background-size: cover;
  padding: 93px;
}
.contact_box h3 {
  color: #fff;
  font-size: 26px;
  word-spacing: 0.02em;
}
.contact_box li {
  display: inline-block;
  margin: 0 30px;
  padding-left: 113px;
  position: relative;
  text-align: left;
}
.contact_box ul li i {
  border: 3px solid #fc9a00;
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  height: 100px;
  left: 0;
  line-height: 100px;
  position: absolute;
  text-align: center;
  top: -23px;
  width: 100px;
}
.contact_box {
  text-align: center;
}
.contact_box a {
  color: #fff;
  font-size: 18px;
  word-spacing: 0.02em;
}
.btn.btn-contact {
  background: rgb(252, 154, 0) none repeat scroll 0 0;
  border: 2px solid rgb(251, 154, 0);
  border-radius: 3px;
  box-shadow: 1px -24px 10px rgba(225, 225, 225, 0.3) inset;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  word-spacing: 0.02em;
}
.order_box.open_ordr {
  display: inline-block;
}
.catering_list .panel.panel-default .panel-heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  border-radius: 0;
  padding: 0;
}
.catering_list .panel-default{
	border:0px;}
	.add_menu {
  color: #000;
  font-size: 20px;
  padding-left: 20px;
  text-decoration: underline;
  text-transform: uppercase;
  word-spacing: 0.02em;
}
/*****************************************************************************
***************************css for conten sec end  ***************************
******************************************************************************/
/*user_admin_section*/
.admin_leftbar h3 {
  color: #666666;
  font-size: 20px;
  padding: 10px 0;
  font-family: 'latobold';
}
.admin_leftbar {
  border: 1px solid #d8d8d8;
  padding: 10px;
}
.admin_comnh {
  background-color: #f89801;
  color: #fff;
  font-size: 20px;
  padding: 12px 20px;
  word-spacing: 0.02em;
  font-family: 'latobold';
}
.admin_comnh img {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 65px;
  margin-right: 10px;
  width: 65px;
}
.sidebar_link {
  background-color: #474747;
}
.sidebar_link li {
  background-image: url("../images/side_bar.png");
  background-position: center bottom;
  background-repeat: repeat-x;
  color: #fff;
  display: block;
  font-family: "latoregular";
  font-size: 20px;
  padding: 10px 15px;
  word-spacing: 0.02em;
}
.sidebar_link ul li a {
  color: #999999;
  font-size: 16px;
  padding-left: 30px;
}
.form_last, .admin_leftbar label {
  color: #666666;
  font-size: 17px;
  word-spacing: 0.02em;
   font-family: "latoregular";
   font-weight: normal;
}
.form-group span {
  color: #ff0000;
}
span.requerd {
  color: #666666;
  float: right;
}
 .admin_leftbar .form-control {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.form-group.modify_btnh {
  padding: 30px 10px 10px;
}
li.active {
  background-color: #333333;
}
.btn.btn-back {
  background-color: #d1d1d1;
  border: 2px solid #000;
  box-shadow: 0 5px 13px rgba(225, 225, 225, 0.3) inset;
  color: #666666;
  font-size: 20px;
  line-height: 14px;
  margin: 0 14px 0 0;
  padding: 10px 0;
  text-transform: uppercase;
  width: 90px;
}
 .admin_leftbar .form-control,
 .form-control::-moz-placeholder {
  color: #666666;
  font-size: 14px;
  height:40px;
    font-family: "latoregular";
  word-spacing: 0.02em;
}
.chk_box li {
  color: #666666;
  display: inline-block;
  font-family: "latoregular";
  font-size: 14px;
  padding-left: 23px;
  position: relative;
  width: 10%;
  word-spacing: 0.02em;
}
.chk_box input[type="checkbox"] {
  border: 1px solid #c1c1c1;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  display: inline-block;
  left: 0;
  position: absolute;
}
/*user_admin_section*/

p.admin {
  max-width: 600px;
  padding-bottom: 30px;
  width: 100%;
}
.addres_modify li {
  border-top: 1px solid #d8d8d8;
  color: #666666;
  display: block;
  font-family: "latoregular";
  font-size: 16px;
  line-height: 40px;
  padding: 0px 15px;
  word-spacing: 0.02em;
}
.admin_leftbar.modify_right h3 {
  padding-left: 10px;
}
.addres_modify ul li i {
  font-size: 23px;
}
.addres_modify ul li a {
  color: #666666;
}
.addres_modify li:last-child {
  border-bottom: 1px solid #d8d8d8;
}
.dledit {
  border-left: 1px solid #d8d8d8;
  float: right;
  font-size: 20px;
  letter-spacing: 0.1em;
  padding-left: 15px;
}
.admin_leftbar.modify_right {
  padding: 10px 0;
} 
.addres_modify span {
 font-family: 'latobold';
}
.view_order table,.order_right table {
  width: 100%;
}
.view_order table thead th {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
   font-family: 'latobold';
}
.view_order table tbody td {
  border: 1px solid #ccc;
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
  font-family: "latoregular";
}
.view_order a {
  background-color: #e7e7e7;
  border: 1px solid #d8d8d8;
  color: #666666;
  font-size: 12px;
  padding: 5px 10px;
    font-family: "latoregular";
}
.back_toorder a {
  color: #666666;
  float: right;
  font-size: 18px;
  padding: 0 0 10px;
  text-align: right;
  text-decoration: underline;
  word-spacing: 0.02em;
}
.order_detailbar li {
  border-bottom: 1px solid #d8d8d8;
  color: #666666;
  display: block;
  font-size: 16px;
  padding: 10px;
  word-spacing: 0.02em;
  font-family: "latoregular";
}
.order_right {
  border: 1px solid #d8d8d8;
  margin-bottom: 50px;
}
.order_detailbar span {
  display: inline-block;
  width: 48%;
}
.order_head {
  background-color: #d8d8d8;
  color: #666666;
    word-spacing: 0.02em;
  font-size: 20px;
  padding: 30px 10px;
  font-family: 'latobold';
}
.order_right table thead th {
    background-color: #c3c3c3;
    border-left: 1px solid #e4e4e4;
    color: #000;
    font-size: 14px;
    padding: 10px;
   font-family: "latoregular";
   font-weight: normal;
      
}
.order_right table tbody td {
    border: 1px solid #e4e4e4;
    color: #666666;
    font-size: 14px;
    padding: 10px;
   font-family: "latoregular";
   font-weight: normal;
      
}
.total_sub {
  float: right;
}
.total_sub li {
  border-bottom: 1px solid;
  color: #666666;
  font-size: 22px;
  padding: 5px 0;
}
.total_sub li span {
  display: inline-block;
  width: 134px;
}
.total_sub li:last-child {
  border: 0 none;
  padding-bottom: 20px;
}
.new_subscribed {
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
  padding-top: 10px;
}
.admin_leftbar .order_check ul li label {
  font-size: 20px;
  padding: 12px 0 3px 26px;
}
.account_login.user {
  padding-top: 0px;
}
.account_login.user a {
 
  font-family: "GearedSlabBold";
  font-size: 20px; 
}
.account_login.user a i {
  color: #666666;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileUpload.btn.btn-primary {
  background-color: #cdcdcd;
  border: 0 none;
  border-radius: 3px;
  font-size: 16px;
  position: absolute;
  right: 6px;
  top: 19px;
  padding:8px 0px;
  width: 92px;
}
.fileUpload.btn.btn-primary span {
  color: #333333;
  font-size: 16px;
   font-family: "latoregular";
  word-spacing: 0.02em;
}
.sidebar_link ul li i {
  color: #999999;
  font-size: 24px;
}

/*css for login*/
/****************login*********************/
.login_container {
  border: 1px solid rgb(216, 216, 216);
  margin: 0 auto;
  max-width: 560px;
  padding: 50px 20px;
  width: 100%;
}
.login_container .form-group > label,.forgt_pswrd,.login_container .checkbox > label {
  color: rgb(102, 102, 102);
  font-family: 'latoregular';
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.02em;
}
.login_container .btn.btn-contact {
  padding: 13px;
  width: 100%;
}
.login_container .form-control {
  box-shadow: 0 0 1px 3px rgb(229, 229, 229);
}
.login_container .row.contactrow {
  padding-top: 40px;
}
.chk_box input[type="checkbox"] {
  border: 1px solid rgb(193, 193, 193);
  box-shadow: 0 0 1px 3px rgb(229, 229, 229);
  display: inline-block;
 /* left: 0;
  position: absolute;*/
}

/*****************************************************************************
***************************css for footer sec start ***************************
******************************************************************************/

.footer_sec {
  background: rgb(0, 0, 0) none repeat scroll 0 0;
  padding: 100px 0px 0px;
}
.ftr_box h3 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  word-spacing: 0.22px;
}
.ftr_box ul li a {
  color: rgb(153, 153, 153);
  font-size: 16px;
  line-height: 26px;
  word-spacing: 0.26px;
    font-family: "latoregular";
}
.ftr_box ul li a:hover {
  padding-left: 10px;
}
.ftr_box > ul {
  padding-top: 15px;
}
.ftr_box span {
  display: block;
}
.ftr_box ul.first_ftr li {
  padding-bottom: 10px;
}
.ftr_box .form-control {
  background: rgb(51, 51, 51) none repeat scroll 0 0;
  font-size: 16px;
  height: 46px;
  position: relative;
  font-family: "latoregular";
}
.ftr_box .form-group{position: relative;}
.ftr_submit {
  background: rgb(204, 204, 204) none repeat scroll 0 0;
  border: 0 none;
  color: rgb(0, 0, 0);
  font-size: 30px;
  height: 46px;
  position: absolute;
  right: -1px;
  text-transform: uppercase;
  top: 0;
  width: 43px;
}
form.ftr_form {
  padding-top: 15px;
}
.ftrbottom_sec {
  background: rgb(0, 0, 0) none repeat scroll 0 0;
  border-top: 2px solid rgb(246, 150, 0);
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
}
.ftrbottom_sec h3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.ftr_box.second a {
  background: rgb(250, 153, 0) none repeat scroll 0 0;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 6px 14px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}


/*****************************************************************************
***************************css for footer sec end ***************************
******************************************************************************/


