@charset "utf-8";
/* CSS Document */
@media (min-width:1200px){
	

}


@media (min-width:992px) and (max-width:1199px){
	
	}
	
	
	
@media (min-width:768px) and (max-width:991px){
	
	}
	
	
	
@media (max-width:767px){
	.main_head {
  font-size: 24px;
}
.common.contain_sec {
  padding: 20px 0;
}
.top_social a {
  font-size: 16px;
  padding: 4px 8px;
}
.logo {
  left: 40px;
  position: absolute;
  top: 8px;
  width: 215px;
}
.logo::after,.middle_header {
    display: none;
}
.main_nav {
  background: rgb(192, 21, 29) none repeat scroll 0 0;
}
.main_nav .navbar.navbar-inverse{
    background: transparent;
}
.account_login.user a {
  height: 25px;
  margin: 9px 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 22px;
}
.sidebar_link ul li a {
  font-size: 15px;
  padding-left: 0;
}
.chk_box li {
  width: 80px;
}
.btn.btn-contact {
  margin: 10px 0;
}
.dledit {
  display: inline-block;
  float: none;
}
span.requerd {
  float: none;
}
.main_nav .navbar-inverse .navbar-toggle {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgb(255, 255, 255);
}
.admin_leftbar h3 {
  font-size: 16px;
}
.order_head {
  font-size: 15px;
  padding: 5px;
}
.heading-minus {
  margin-top: 0;
}
}	